/* woodwell fonts */
@font-face {
    font-family: 'ginto-normal';
    src: url('../public/fonts/ginto-normal-regular.ttf');
}

@font-face {
    font-family: 'ginto-medium';
    src: url('../public/fonts/ginto-normal-medium.ttf');
}

@font-face {
    font-family: 'ginto-bold';
    src: url('../public/fonts/ginto-normal-bold.ttf');
}

@font-face {
    font-family: 'gemeli-normal';
    src: url('../public/fonts/gemeli-mono-regular.ttf');
}

@font-face {
    font-family: 'gemeli-bold';
    src: url('../public/fonts/gemeli-mono-bold.ttf');
}

#container-grid {
    display: grid;
    grid-template-rows: 4rem minmax(12.5rem, 1fr);
    height: 100vh;
}

#header {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 18.75rem;
    z-index: 20;
    height: 100%;
}

#org-name-container {
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
}

#org-name-text {
    margin-left: 1rem;
}

#header-settings-container {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

#header-menu {
    margin-right: 1rem;
}

#main-container {
    position: relative;
    height: auto;
}

#menu-container {
    display: grid;
    grid-template-rows: repeat(3, 3.125rem) 1fr;
    height: 9.375rem;
    width: 12.5rem;
    border-radius: 0.5rem;
    z-index: 10;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    text-align: right;
}

#about-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
}

/* #about-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
} */

#settings-container-desktop {
    height: 20rem;
    width: 18.75rem;
    border-radius: 0.5rem;
    z-index: 20;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    /* overflow-y: hidden; */
    overflow-y: auto;
}

#settings-options-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 4rem;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#settings-options-mobile > * {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#settings-container-mobile {
    position: absolute;
    z-index: 10;
    height: 17.5rem;
    width: 100%;
    left: 0rem;
    bottom: 4rem;
    /* overflow-y: hidden; */
    overflow-y: auto;
}

#confidence-level-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.mapboxgl-map {
    font-family: 'ginto-normal';
}